################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vcpkg/
.vs/
!.vs/tasks.vs.json
